body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: $lightGray;
  display: flex;
  justify-content: center;
  align-items: center;
}
